.base-node img{
  height: 100px;
}

.productInfo{
  display: flex;
  flex-direction: column;
}

.base-node{
  background: inherit;
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
}

