.node-panel{
    z-index: 12;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 200px;   
    height: 300px;
    padding: 8px;
    background-color: #c5c4c4 !important;
}

.dndnode{
    cursor: grab;

}