
.baseNodeSelected{
  border: 1px solid red;
  border-style: inset;
  border-radius: 7px;
}

.base-node{
  background: inherit;
  box-shadow: 0px 5px 10px -5px gray;
  border-radius: 7px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
}

.base-node .base-node__options{
  position: absolute;
  right: -30px;
  top: 0;
  cursor: pointer;
}

.base-node .base-node__options div:hover{
  background: #dfdfdf;
}

.textarea{
  flex: 1;
  outline: none;
  border: none;
}

.base-node .base-node__info img{
  width: 40px;
  height: 40px;
}
